*{
  margin: 0; 
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.content {
  margin: 0; 
  background-image: url(../Images/about-bg.png);
  background-color: #808080;
  background-size: 1280px;

}
.navbar{
  padding: 15px;
}

.navbar {
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.logo{
  width: 130px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  color:white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 100px;
  position: relative;
}

nav a.active {
  color: rgb(254, 201,61);
  border-bottom: 4px solid rgb(254, 201,61);
  text-shadow: 2px 2px rgb(53, 53, 53);
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 4px;
  background: rgb(254, 201,61);
  position: absolute;
  left: 0;
  top: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {  
  width: 100%; 
}
.navbar ul li a:hover{
  color: rgb(254, 201,61);
  text-shadow: 2px 2px rgb(53, 53, 53);
}

h1 {
  color:white;
  font-size: 50px;
  margin-left: 500px;
  text-shadow: 2px 2px rgb(18, 18, 18);
}
h1 span{
  color: rgb(254, 201,61);
}
/* THIS STYLE IS FOR THE HEADER/MAIN HEADER OF THE HOME PAGE */

.header-text {
margin-top: 30px;
width: 600px;
margin-left: 500px;
font-size: 25px;
color: rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.40);
border-radius:15px;
padding: 20px;

}
.header-text a{
  color:white;
}

.header-text p span{
  color: rgb(254, 201,61);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* THIS STYLE IS FOR THE ABOUT ME SUMMARY SECTION */
#about{
  padding: 50px 0px;
  color: rgb(233, 233, 233);
  background-color: black;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container{
  margin: 0px 100px;
}
.row{
  display: flex ;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col1{
  flex-basis: 20%;
}

.about-col1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col2 {
  flex-basis: 70%;

}

.sub-title{
  font-size: 30px;
  margin-bottom: 30px;
}

/* THIS IS THE ASIDE REFERENCES */
.references{
  display: inline-block;
  background-color: black;
  width: 250px;
  height: 350px;
  margin: 35px 0px;
  margin-left: 20px;
  padding: 20px;
  color: rgb(233, 233, 233);
  border-radius: 15px;
}

.references ul li {
  margin-top:20px;
  text-align: center;
  list-style: none;
  color: white;
  font-size: 18px;
}

.references ul li span{
  color:rgb(233, 233, 233);
  font-size: 14px;
}

.references ul li a{
  color:rgb(254, 201,61);
}
.references ul li a:hover{
  color:rgb(22,105,161);
}


/* THIS ARTICLE IS FOR THE CREDENTIALS SECTIONS */

#credentials{
  display: inline;
  float: right;
}
.credentials{
  padding: 20px;
  background-color: black;
  color:  rgb(254, 201,61);
  margin: 35px 20px;
  border-radius: 15px;
  width: 940px;
  height: 350px;
  position: relative;
}
.tab-titles{
  display: flex;
  margin: 0px 50px;
}

.tab-links{
  margin-left: 150px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 4px;
  background-color: rgb(254, 201,61);
  position: absolute;
  left:0;
  bottom: -8px;
  transition:0.5s;
}

.tab-links.active-link::after{
  width:50%;

}

.tab-contents ul li {
  margin-left: 30px;
  text-align: center;
  list-style: none;
  margin: 15px 0;
  color: white;
  font-size: 18px;
}

.tab-contents ul li span{
  color:rgb(254, 201,61) ;
  font-size: 14px;
}

.tab-contents{
  display: none;
  height: 185px;
  margin-top: 25px;
}

.tab-contents.active-tab{
  display: block;
}


.download{
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.download a{
  padding: 16px 35px;
  text-decoration: none;
  border: 1px solid rgb(254, 201,61) ;
  background-color: transparent;
  letter-spacing: 2px;
  color: rgb(254, 201,61) ;
  margin: 0 auto;
 
}
.download a:hover{
  border: 1px solid rgb(0, 0, 0) ;
  background-color: rgb(254, 201,61) ;
  letter-spacing: 4px;
  color: rgb(0, 0, 0) ;
}


/* CERTIFICATE CAROUSEL SECTION CERTIFICATE CAROUSEL SECTION CERTIFICATE CAROUSEL SECTION */
.certificates h2{
  text-align: center;
  color:  rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(18, 18, 18);
  font-size: 30px;
  margin-bottom: 40px;
}
.carousel{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.70);
}

.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  margin-top: 50px;
  margin-left: 200px;
  height: 80vh;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: rgb(254, 201,61) ;
}

.swiper .swiper-pagination-bullet-active{
  background-color: rgb(254, 201,61) ;
}



/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
footer{
  position:fixed;
  bottom:0;
  margin: 0px;
  color:  rgb(254, 201,61);
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 10px;
  width: 100%;
  z-index: 9999;
}
footer a{
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
  }
 .menu-bar{
  display: none;

}

 .xmark-solid{
  display: none;
}


/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  */


/* THIS IS THE CSS FOR THE MEDIA QUERY */



@media only screen and (max-width: 640px) {
  .content{
    background-image: url(../Images/phone-about-bg.png);
    background-size: 640px;
  }
  h1 {
    margin: auto;
    text-align: center;
    font-size: 60px;
  }

  #about{
    width:auto;
  }
  .container{
    margin: 0px 50px;
  }
  .about-col1, .about-col2{
    flex-basis: 100%;
  }

  .about-col1 img{
    margin: auto;
  }

 .about-col2 h2{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
 }

 .about-col2 p{
  font-size: 14px;
  text-align:justify;
  
 }

 .references{
  display: block;
  margin: 30px;
  width:auto;
  height: 330px;
  padding: 30px;
  color: rgb(233, 233, 233);
  border-radius: 15px;
}
.references h3{
  text-align: center;
  font-size: 30px;
}

.references ul li {
  margin-top:30px;
  font-size: 18px;
}
.references ul li span{
  font-size: 16px;
}
.references ul li a{
  color:rgb(254, 201,61);
}
.references ul li a:hover{
  color:rgb(22,105,161);
}

#credentials{
  display: block;
  float: none;
}
.credentials{
  margin: auto;
  display: block;
  width:auto;
  padding: 30px;
  background-color: black;
  color:  rgb(254, 201,61);
  height: 350px;
  border-radius: 0;
  margin-bottom: 30px;
}

.tab-titles{
  display: flex;
  width: auto;
}

.tab-links{
  margin: 0px 30px; 
  font-size: 20px;
  width: auto;
}

.carousel{
  height: 50vh;
}

.swiper-slide img{
  margin: 30px 0px;
  width: auto;
  height: 40vh;
}

  footer{
  width: 600px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.40);
  margin: 0;
  padding: 10px;
  }
  
  footer a{
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 18px; /* Increase font size */
    }
  .menu-bar{
    display: block;
    width: 35px;
    cursor:pointer;
    /* 
    width: 45px;
    border: 2px solid black;
    padding: 5px; */
  }
  
   .xmark-solid{
    display: block;
    width: 40px;
  }
  .navbar{
    display: block;
  } 

  .navbar ul {     
    position: fixed;
    top:-350px;
    left:0;
    width: 600px;
    height: 100vh;
    padding-top: 60px;
    margin-top: 30px;
    transition: 0.5s;
  }

  .navbar ul li{  
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
    text-align: center;
  }

  .navbar ul li a {  
    margin-bottom: 5px;
    font-size: 30px;
  }
  .navbar ul .xmark-solid{
    background-color:  rgb(254, 201,61);
    position: fixed;
    cursor: pointer;
    padding: 5px;
  }
  .navbar .menu-bar{
    position: absolute;
    top: 35px;
    right:55px;
  }

}